@page "/lecturer/meetings"
@page "/lecturer/meetings/{PageId:int}"

@inject IAuthenticationStateService authenticationState
@inject ICustomNavigationService navigationService
@inject IDbContextFactory<CampusContext> campusContextFactory

<RenderPermission Permission="UserPermissionsEnum.Lecturer" RedirectIfInvalid="true">

    <div class="container mb-4">
        <h2 class="mb-4">כל ההרצאות שלי</h2>

        @if(meetings != null)
        {
            @if (meetings.Count > 0)
            {
            
                var numFrom = PageId <= 1 ? 1 : (PageId - 1) * meetingsPerPage;
                var numTo = (PageId * meetingsPerPage) > meetingsCount ? meetingsCount : (PageId * meetingsPerPage);
            
                <p>מציג @numFrom ועד @numTo מתוך @meetingsCount תוצאות</p>
                <div class="container">
                    @foreach(var meeting in meetings)
                    {
                        <div class="col-12 mb-3 mb-lg-0 mt-4 shadow-sm">
                            <div class="card p-4">
                                <div class="row align-items-center">
                                    <div class="col-lg-5 d-flex flex-column force-padding-all">
                                        <p class="h5">@meeting.Course?.Name</p>
                                        <p class="h6">@meeting.Meeting?.Title</p>

                                        <p class="h6 text-muted mt-3">כיתה: @meeting.Class?.Name</p>
                                        <p class="h6 text-muted mb-4">מרצה: @(meeting.Lecturer?.FirstName + " " + meeting.Lecturer?.LastName)</p>

                                    </div>
                        
                                    <div class="col-lg-4">
                                        <p class="h6 text-muted">תאריך הפגישה: @meeting.Meeting?.StartAt.ToLongDateHebrewString()</p>
                                    </div>

                                    <div class="col-lg-3 d-flex justify-content-center align-content-center">
                                        @{ var isMeetingOver = DateTime.Now.Subtract(meeting.Meeting!.StartAt) > TimeSpan.FromHours(6); }
                                        <a role="button" class="btn btn-outline-dark w-100"
                                            disabled="@(isMeetingOver)"
                                            target="_blank" href="@meeting.Meeting?.MeetingUrl">
                                            @if(isMeetingOver)
                                            {
                                                <span>הפגישה הסתיימה</span>
                                            }
                                            else
                                            {
                                                <span>הצטרפות למפגש</span>
                                            }
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <nav class="d-flex justify-content-center mt-5">
                        <Pagination @ref="meetingsPagination" UrlPagination="/lecturer/meetings/" PagesBufferRange="@pagesBufferRange" CurrentPage="PageId" CurrentPagesCount="meetingsPages" />
                    </nav>
                </div>
            }
            else
            {
                <h4 class="text-muted">לא נמצאו הרצאות</h4>
            }
        }
    </div>

</RenderPermission>

@code {
    private List<MeetingModel>? meetings;

    public Pagination? meetingsPagination;

    private int meetingsPerPage = 10;
    private int pagesBufferRange = 5;

    private long meetingsPages;
    private long meetingsCount;

    [Parameter] public int PageId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        PageId = PageId <= 0 ? 1 : PageId;

        meetingsPagination?.SetCurrentPage(PageId);

        using(var dbContext = await campusContextFactory.CreateDbContextAsync())
        {
            if (authenticationState.User?.Id != null)
            {
                var user = await dbContext.Users.FindAsync(authenticationState.User.Id);
                if(user != null)
                {
                    meetingsCount = await (from meeting in dbContext.ClassMeetings
                                           where meeting.LecturerId == user.Id
                                           select meeting.Id).ToAsyncEnumerable().LongCountAsync();

                    meetingsPages = Convert.ToInt64(Math.Ceiling((double)meetingsCount / meetingsPerPage));

                    meetingsPagination?.SetPagesCount(meetingsPages);

                    meetings = await (from meeting in dbContext.ClassMeetings
                                      join classEntity in dbContext.Classes on meeting.ClassId equals classEntity.Id
                                      join course in dbContext.Courses on classEntity.CourseId equals course.Id
                                      where meeting.LecturerId == user.Id
                                      orderby meeting.StartAt descending
                                      select new MeetingModel { Meeting = meeting, Course = course, Class = classEntity, Lecturer = meeting.Lecturer })
                                      .Skip((PageId - 1) * meetingsPerPage).Take(meetingsPerPage).ToListAsync();
                }
                else
                {
                    navigationService.NavigatePreviousOrDefault(true);
                }
            }
        }
       
    }
}
